<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <!-- HTTP 1.1 -->
  <meta http-equiv="pragma" content="no-cache">
  <!-- HTTP 1.0 -->
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="applicable-device" content="mobile">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="Description" content="">
  <meta name="Keywords" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <script>
    (function(sa,fbc){function load(f,c){var a=document.createElement('script');
      a.async=1;a.src=f;var s=document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(a,s);}load(sa);
      window.addEventListener('load',function(){firebase.initializeApp(fbc).performance()});
    })(
    window.origin+'/static/announcement/css/unk_a.css',
      {
        apiKey: "AIzaSyDEv1SZJHojtorMXeEsMj2EWqE4wBtehNs",
        authDomain: "mihoyo-web-performance-ann.firebaseapp.com",
        projectId: "mihoyo-web-performance-ann",
        storageBucket: "mihoyo-web-performance-ann.appspot.com",
        messagingSenderId: "827078714893",
        appId: "1:827078714893:web:5bd6ada816462d7cec5744",
        rate: 10
      }
    );
  </script>

    <link href="/static/announcement/css/unk_a.css" rel="stylesheet">
    <link href="/static/announcement/css/unk_c.css" rel="stylesheet">
</head>
<body>
  <div id="root">
    <div id="content"></div>
  </div>
  <div id="frame" ></div>
  <script src="/static/common/js/vue.min.js"></script>
  <script src="/static/announcement/js/firebase-performance-standalone-cn.js"></script>
  <script src="/static/announcement/js/main.js"></script>
  <script src="/static/announcement/js/vendors_74f3e72925597c895f00.js"></script>
  <script src="/static/announcement/js/bundle_523684cfc579be7c41c4.js"></script>
  
  


</body>
</html>