
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
<link href="https://account.hoyoverse.com/main_a0ac45e25e3a9f302953_1bd2cff350e6d355888f.css" rel="stylesheet"></head>
<body>
  <div id="root"></div>
  
<script type="text/javascript" src="https://account.hoyoverse.com/main_a0ac45e25e3a9f302953.js"></script></body>
</html>
