<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <!-- HTTP 1.1 -->
  <meta http-equiv="pragma" content="no-cache">
  <!-- HTTP 1.0 -->
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="applicable-device" content="mobile">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="Description" content="">
  <meta name="Keywords" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://eichs.github.io/static/common/css/base.css" rel="stylesheet">

  <script src="https://eichs.github.io/static/common/js/jquery-3.4.1.min.js"></script>
  <script src="https://eichs.github.io/static/common/js/jsencrypt.min.js"></script>
  <script src="https://eichs.github.io/static/common/js/util.js"></script>

  <script src="https://eichs.github.io/static/qr_code_login/js/main.js"></script>
  <title></title>
  <script>

  </script>


</head>
<body>
    <div class = "content-container">
        <div class="mini-login-container">
            
            <div class="title">登录</div>
            <div class="inputer-container">
                <input id="username" placeholder="用户名" value="" type="text"/>
                <input id="password" placeholder="密码" value="" type="password"/>    
    
            </div>
            <div class="resetpasswd-container">
                <div>忘记密码</div>
            </div>
            <div class="remember-login-status">
                <input type="checkbox"  value="false" />
                <div>
                    记住登录状态5天
                </div>
            </div>

            <div class = "login button">立即登录</div>


        </div>
        
</body>
</html>