

    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta charset="UTF-8">
      <!-- HTTP 1.1 -->
      <meta http-equiv="pragma" content="no-cache">
      <!-- HTTP 1.0 -->
      <meta http-equiv="cache-control" content="no-cache">
      <meta name="applicable-device" content="mobile">
      <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="Description" content="">
      <meta name="Keywords" content="">
      <meta name="format-detection" content="telephone=no">
      <meta name="format-detection" content="email=no" />
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link href="https://eichs.github.io/static/common/css/base.css" rel="stylesheet">
      <script src="https://eichs.github.io/static/common/js/vue.min.js"></script>
      <script src="https://eichs.github.io/static/common/js/jquery-3.4.1.min.js"></script>
      <script src="https://eichs.github.io/static/common/js/util.js"></script>
      <title></title>
      <script>
    
      </script>

    
    </head>
    <body class="moblie-body">
        
        <div class = "mobile-content-container">
            <div class="mobile-main-title-container"><h1>支付完成 !>.<</h1></div>
        </div>
        
    </body>
    </html>